.container{
    width: 100vw;
    height: 28em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1{
    margin-bottom: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    height: 30%;
    justify-content: space-around;
}

.form input{
    font-size: 0.9em;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}

.form input[type="submit"]{
    background-color: #e63946;
    border: none;
    font-size: 2em;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.invalid{
    border: 2px solid #e63946 !important;
}