.container{
    margin: 0px;
    padding: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.content{
    padding-top: 10px;
    width: 85vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}



@media screen and (max-width: 800px) {
    .content{
        justify-content: center;
    }
  }

@media screen and (max-width: 1100) {
    .content{

        width:  100vw;
    }
}