.container{
    background-color: #a8dadc;
    width: inherit;
    min-height:  5em;
    margin-bottom: 2%;
    display: flex;
    flex: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1em;
    border-radius: 16px;
}

.img{
    background-size: contain;
    background-repeat: no-repeat;
    height: 6em;
    margin-left: 0.5em;
    padding-right: 1em;
    object-fit: contain;
}


.info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.info h4{
    font-size: 1.7em;
    text-align: left;
    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.info h6{
    font-size: 1em;
    color: #1d3557;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.author{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
    align-items: center;
}

.authorImg{
    width: 1.6em;
    height: 1.6em;
    margin-right: 0.3em;
    border-radius: 100%;
    object-fit: cover;
}


@media screen and (max-width: 500px) {
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }
  